<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button secondary menuToggle>Afficher le menu</button>

  <ion-fab bottom right>
    <button ion-fab (click)="scanBarcode()">
      <ion-icon name="barcode"></ion-icon>
    </button>
  </ion-fab>

  <ion-card *ngIf="result">
    <ion-card-content>
      <p>code barre : {{result.text}}</p>
      <p>format : {{result.format}}</p>
      <button ion-button (click)="getArticleByBarcode(result.text)" block>afficher le détail du produit</button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="api_response_raw">
        <img src="{{api_response.product.image_url}}" alt="{{api_response['product']['ingredients_text']}}">
        <p>{{api_response['product']['ingredients_text_with_allergens_fr']}}</p>
        <button ion-button block (click)="addToFavoriteFood(api_response.product)">ajouter à mes favoris</button>
        <p>{{api_response_raw | json}}</p>
  </ion-card>

</ion-content>